
@tailwind base;      
@tailwind components; 
@tailwind utilities;
/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Dark gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* Medium gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Lighter gray on hover */
}

body {
    font-family: 'Inter', sans-serif;
}